---
name: Nightly Tests

on:
  schedule:
    - cron: '0 4 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  nightly_tests:
    name: Nightly Tests
    runs-on: [self-hosted, macOS]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          clean: true

      - name: Clear SwiftPM Caches
        run: |
          rm -rf ~/.swiftpm
          rm -rf ~/Library/Caches/org.swift.swiftpm
          rm -rf ~/Library/org.swift.swiftpm
          rm -rf .swiftpm
          rm -rf .build

      - name: Run Tests
        run: swift test -v
